llama-index
llama-index-llms-openai-like
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
langgraph
langchain
langchain-openai
deepeval
chromadb
pymupdf4llm
fastapi
python-multipart
uvicorn[standard]
